#tier-list-container {
  display: flex;
  justify-content: flex-start; /* centre le groupe tableau+bouton */
  align-items: flex-start;
  gap: 10px; /* espace entre tableau et bouton */
  margin: 0 auto;
  width: 1300px;
}

#tier-list {
  width: 1300px;
}

/* Bouton */
#capture-btn {
  all: unset;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
#capture-btn img {
  width: 80px;
  height: 80px;
  transition: filter 0.2s;
}
#capture-btn img:hover {
  filter: brightness(0.8);
}

.nav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

.nav-button img {
  width: 80px;
  height: 80px;
  transition: filter 0.2s;
}
.nav-button img:hover {
  filter: brightness(0.8);
}
