#tier-list-container {
  display: flex;
  flex-wrap: row;
  justify-content: center; /* centre le groupe tableau+bouton */
  align-items: flex-start;
  gap: 10px; /* espace entre tableau et bouton */
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  min-width: 800px;
}

#tier-list {
  width: 100%;
  max-width: 1200px; /* Largeur max pour les grands écrans */
  margin: 0 auto;
  flex-shrink: 0;
}

@media (max-width: 768px) and (orientation: portrait) {
  #tier-list-container {
    flex-direction: column; /* Boutons au-dessus du tableau */
    align-items: center;
  }
  #left-buttons {
    flex-direction: row; /* Boutons en ligne */
    flex-wrap: wrap; /* Retour à la ligne si nécessaire */
    justify-content: center;
    margin-bottom: 20px; /* Espace entre les boutons et le tableau */
  }
}
/* Bouton */
#capture-btn {
  display: flex; /* Active Flexbox pour aligner les éléments */
  align-items: center; /* Centre verticalement l'icône et le texte */
  gap: 0px; /* Espace entre l'icône et le texte */
  background: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
  cursor: pointer; /* Curseur "main" au survol */
  padding: 8px 12px; /* Espace interne */
}
#capture-btn img {
  width: 90px;
  height: 90px;
  transition: filter 0.2s;
}
#capture-btn img:hover {
  filter: brightness(0.8);
}

.nav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-button img {
  width: 90px;
  height: 90px;
  transition: filter 0.2s;
}
.nav-button img:hover {
  filter: brightness(0.8);
}
